node_modules
*.log*
.nuxt
.nitro
.cache
.output
.env
dist
/py/
types/generated
public/sw-dev.js
public/workbox-*.js

# yarn not using zero-installs
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions