name: Deploy to Firebase Cloud Functions

on:
  push:
    branches:
      - main
      - live
    paths:
      - packages/firebase/**
      - .github/workflows/deploy-functions.yml
  workflow_dispatch:

env:
  prod_branch_name: live
  wi_provider_prod: projects/14422071885/locations/global/workloadIdentityPools/github-actions/providers/github
  wi_provider_dev: projects/599812122174/locations/global/workloadIdentityPools/github-actions/providers/github
  service_account_prod: github-actions@hsr-material.iam.gserviceaccount.com
  service_account_dev: github-actions@hsr-material-dev.iam.gserviceaccount.com

jobs:
  deploy:
    name: Deploy to Firebase Cloud Functions
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-node@v6
        with:
          node-version: 22

      - uses: oven-sh/setup-bun@v2

      - uses: actions/cache@v4
        with:
          path: ~/.bun/install/cache
          key: ${{ runner.os }}-bun-${{ hashFiles('bun.lock') }}

      - run: bun install

      - name: 'Authenticate to Google Cloud'
        id: auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: ${{ github.ref_name == env.prod_branch_name && env.wi_provider_prod || env.wi_provider_dev }}
          service_account: ${{ github.ref_name == env.prod_branch_name && env.service_account_prod || env.service_account_dev }}
          audience: https://github.com/chika3742

      - name: Deploy to Cloud Functions (dev)
        if: github.ref_name != env.prod_branch_name
        working-directory: packages/firebase/functions
        run: bun deploy:dev --debug

      - name: Deploy to Cloud Functions (prod)
        if: github.ref_name == env.prod_branch_name
        working-directory: packages/firebase/functions
        run: bun deploy:prod --debug
